#header {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  gap: 10px;
}

#title {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  
}

#title > h1::first-letter {
  color: #0096FF;
}

#intro-page {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 10px;
  width: 380px;
}

#linkWords {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

#answerEntry {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  gap: 10px;
  width: 200px;
}

#box {
  background-color: white;
  border: 2px solid whitesmoke;
  color: black;
  padding: 10px;
  width: 80px;
  text-align: center;
}

#gif {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
}

#gif-img {
  border: 2px solid white;
  border-radius: 10px;
}

#btn-submit {
  background-color: #0096FF;
  border: 2px solid white;
  color: whitesmoke;
  border-radius: 20px;
  height: 40px;
  font-size: large;
}

#btn-play {
  background-color: #0096FF;
  border: 2px solid white;
  color: whitesmoke;
  border-radius: 20px;
  height: 40px;
  width: 200px;
  font-size: large;
}

#txt-answer {
  background-color: white;
  border: 2px solid white;
  color: black;
  border-radius: 20px;
  height: 20px;
  font-size: large;
}

#play-btn {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  padding-top: 10px;
  font-size: large;
}

#btn-play-again {
  background-color: #0096FF;
  border: 2px solid white;
  color: whitesmoke;
  border-radius: 20px;
  height: 40px;
  width: 200px;
  font-size: large;
}

#rules {
  text-decoration: underline;
}

#score {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #303030;
  color: white;
  padding: 10px;
  width: 200px;
  text-align: center;
  font-size: xx-large;
}

#score > h3::first-letter {
  color: #0096FF;
}

#score-round {
  font-size: x-large;
}

#score-round::first-letter {
  color: #0096FF;
}
